<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9EnAn06cebQtMZ_dmyyhnG1vYc00zIY8</string>
	<key>GCM_SENDER_ID</key>
	<string>179774589966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesomenessstudios.SocialMediaSim</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-daf73</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-daf73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179774589966:ios:c13498a5eb5d5502d9405f</string>
</dict>
</plist>